{% extends 'base.html' %}

{% block content %}
<form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <button onclick="window.location.href = '{% url 'clients' %}'">list clients</button>
{% endblock %}