{% extends 'base.html' %}

{% block content %}

    
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Find</button>
    </form>
    <button onclick="window.location.href = '{% url 'add_client' %}'">add clients</button>
    
    <table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>street</th> 
        <th>suburb</th> 
        <th>postcode</th> 
        <th>state</th> 
        <th>contact name</th> 
        <th>email</th>
        <th>phone number</th> 
    </tr>
    {% for item  in  clients %}
        
            <tr onclick="window.location.href='{% url 'client_edit' pk=item.id %}'; return false">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.steet_name}}</td> 
                <td>{{item.suburb}}</td> 
                <td>{{item.postcode}}</td> 
                <td>{{item.state}}</td> 
                <td>{{item.contact_name}}</td> 
                <td>{{item.email}}</td>
                <td>{{item.phone_number}}</td>  
            </tr>
        
    {% endfor %}
    </table>
{% endblock %}